a {
    color: inherit;
}

a:hover {
    color: #008ADC;
}

body {
    background-color: #212121;
    color: #C2C2C2;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.666em;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, nav {
    color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 16px;
    margin-bottom: 16px;
}

li {
    margin-left: 1em;
}

p {
    padding-top: 6px;
    margin-bottom: 6px;
}

hr {
    height: 2px;
    background-color: #4C4C4C;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    position: relative;
    padding: 8px 15px 8px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #353535;
    border-radius: 0 8px 8px 0;
    margin-top: 20px;
    border-left: 6px solid #565656;
}
